$bgHeadingOpen: #BDC3C7;
$bgLeftMain: #25c481;
$bgRightMain: #25b7c4;
$bgWrapper: #FFF;
$themeContrast: #009688;
$themeOne: #2980B9;
$themeThree: #F44336;
$themeTwo: #4CAF50;

$transitionButton: .3s;
$transitionTime: 1s;

$boxSise: border-box;

$radius: 4px;

$contentWidth: 100%;
